<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Shang Ta Yang" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="輸入網站描述" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <form action="/formhandling" method="POST">
      <label for="query">query</label>
      <input type="text" id="query" name="query" />
      <label for="key">key</label>
      <input type="text" name="key" id="key" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
