<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Shang Ta Yang" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="輸入網站描述" />
    <link rel="stylesheet" href="styles/style.css" />
    <title><%=query%></title>
  </head>
  <body>
    <h1><%=query%>搜尋結果</h1>
    <!-- 在您的 EJS 文件中 -->
    <% if (bd.items && bd.items.length > 0) { bd.items.forEach(function(element)
    { %>
    <table>
      <tr>
        <td>標題：</td>
        <td><%= element.snippet.title %></td>
      </tr>
      <tr>
        <td>網址：</td>
        <td>
          <a
            href="https://www.youtube.com/watch?v=<%= element.id.videoId %>"
            target="_blank"
            >https://www.youtube.com/watch?v=<%= element.id.videoId %></a
          >
        </td>
      </tr>
      <tr>
        <td>作者為</td>
        <td><%= element.snippet.channelTitle %></td>
      </tr>
    </table>

    <% }); } else { %>
    <p>沒有找到相符的影片。</p>
    <% } %>
  </body>
</html>
