body {
  font-family: Arial, sans-serif;
  background-color: #6fa0e2;
  color: #233c75;
  margin: 0;
  padding: 0;
  text-align: center;

  h1 {
    font-size: 24px;
    color: #333;
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    td {
      padding: 10px;
      border: 1px solid #ccc;

      &:first-child {
        font-weight: bold;
        width: 20%;
        background-color: #f2f2f2;
      }

      a {
        color: #007bff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  p {
    font-size: 18px;
    color: #777;
    margin-top: 20px;
  }
  form {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }

    button[type="submit"] {
      background-color: #233c75;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #182a53;
      }
    }
  }
}
